fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pdfplumber
pydantic-settings
httpx
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
pgvector
python-multipart